<%- include("partials/navigation") %>
<style>
  .font-sidebar{
    font-family: 'Helvetica'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 20px;
  }
  .font-source{
    font-family: 'Helvetica'; font-style: normal; font-size: 12px; line-height: 18px;
  }
  .font-title{
    font-family: 'Helvetica'; font-style: normal; font-weight: 700; font-size: 20px; line-height: 30px; color: #000000;
  }
  .btn-add-car{
    padding: 8px 8px; width: 142px; height: 36px; background: #0D28A6; border-radius: 2px; text-decoration: none;
  }
  .btn-category-all{
    background: #CFD4ED; border: 1px solid #0D28A6; box-sizing: border-box; border-radius: 2px; text-decoration: none;
  }
  .btn-category{
    background: #FFFFFF; border: 1px solid #AEB7E1; box-sizing: border-box; border-radius: 2px; text-decoration: none;
  }
  .btn-delete{
    width: 143.5px; height: 48px; background: #FFFFFF; border: 1px solid #FA2C5A; box-sizing: border-box; border-radius: 2px; text-decoration: none; color: #FA2C5A;
  }
  .btn-edit{
    padding: 8px 12px; width: 143.5px; height: 48px; background: #5CB85F; border-radius: 2px; text-decoration: none; color: #FFFFFF;
  }
</style>
<main class="col">
  <div class="row">
    <div class="col-2">
      <div class="d-block my-2">
        <span class="font-sidebar mx-1" style="color: #8A8A8A;">CARS</span>
      </div>
      <div class="d-block my-4" style="height:40px; background-color: #CFD4ED;">
        <span class="d-block font-sidebar mx-1 pt-2">List Cars</span>
      </div>      
    </div>
    <div class="col p-3" style="background-color: #E5E5E5;">
      <div class="d-block mb-3">
        <span class="font-source" style="font-weight: 700; color: #000000;">Cars</span> 
        <img class="mx-1" src="../../public/icons/fi_next.png" alt="">
        <span class="font-source" style="font-weight: 300; color: #222222;">List Car</span>
      </div>
      <div class="d-block mb-3 position-relative">
        <span class="font-title">List Car</span>
        <a href="/cars/add" class="position-absolute top-0 end-0 btn-add-car font-sidebar" style="color: #FFFFFF;">
          <img class="mx-1" src="../../public/icons/fi_plus.png" alt="">
          Add New Car
        </a>
      </div>
      <div>
        <a href="" class="btn-category-all p-2 font-sidebar" style="color: #0D28A6;">
          All
        </a>
        <a href="" class="btn-category p-2 font-sidebar mx-3" style="color: #AEB7E1;">
          Small
        </a>
        <a href="" class="btn-category p-2 font-sidebar" style="color: #AEB7E1;">
          Medium
        </a>
        <a href="" class="btn-category p-2 font-sidebar mx-3" style="color: #AEB7E1;">
          Large
        </a>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        <% cars.forEach(car => { %>
          <div class="col" >
              <div class="card" style="border-radius: 8px;">
                  <img src="<%= car.image %>" class="center m-4 mt-5" style="width: 80%; height: 80%;">
                  <div class="card-body">
                      <span class="d-block font-sidebar mb-2" style="font-weight: 400;"><%= car.nama %></span>
                      <span class="d-block font-sidebar mb-2" style="font-size: 16px; line-height: 24px;"><%= car.harga %></span>
                      <span class="d-block font-sidebar mb-2" style="font-weight: 300;">
                        <img src="../../public/icons/fi_key.png" alt="">
                        <%= car.start %> - <%= car.finish %>
                      </span>
                      <span class="d-block font-sidebar mb-4" style="font-weight: 300;">
                        <img src="../../public/icons/fi_clock.png" alt="">
                        Updated at <%= car.updated_at %>
                      </span>
                      <div class="row">
                        <button type="button" class="col-6 btn-delete text-center pt-1 font-sidebar" data-bs-toggle="modal" data-bs-target="#carModal">
                          <img class="mb-1" src="../../public/icons/fi_trash-2.png" alt="">
                          Delete
                        </button>
                        <a href="/cars/edit" class="col-6 btn-edit text-center pt-3 font-sidebar mx-2">
                          <img class="mb-1" src="../../public/icons/fi_edit.png" alt="">
                          Edit
                        </a>
                      </div>
                  </div>
              </div>
          </div>
        <% }) %>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="carModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body d-flex justify-content-center">
              <img class="mb-1 center" src="../../public/img-BeepBeep.png" alt="">              
            </div>
            <div class="modal-body d-flex justify-content-center">
              <span class="d-block font-sidebar mb-2" style="font-size: 16px; line-height: 24px;">
                Menghapus Data Mobil
              </span>
            </div>
            <div class="modal-body d-flex justify-content-center">
              <span class="font-source" style="font-weight: 300;">
                Setelah dihapus, data mobil tidak dapat dikembalikan Yakin ingin menghapus?
              </span>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ya</button>
              <button type="button" class="btn btn-primary" style="background: #FFFFFF; color: blue;" data-bs-dismiss="modal">Tidak</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
</div>
</div>
</body>
</html>